@{
    ViewData["title"] = "Pagina inicial";
}


<div class="m-3 ms-4 me-4 opcoes">
    <!-- unidade -->
    <a asp-action="Index" asp-controller="Unidade" role="button">
        <div class="alert alert-secondary d-flex justify-content-between align-items-center itens-agendar" role="alert">
            <div>
                <i class="bi bi-shop"></i>
                Selecionar uma unidade
            </div>
            <i class="bi bi-chevron-right"></i>

        </div>
    </a>

    <!-- barbeiro -->
    <a asp-action="Index" asp-controller="Barbeiro" role="button">
    <div class="alert alert-secondary d-flex justify-content-between align-items-center itens-agendar desativado" role="alert">
        <div>
            <i class="bi bi-person"></i>
            Selecione um barbeiro 
        </div>
        <i class="bi bi-chevron-right"></i>

    </div>
    </a>

    <!-- serviço -->
    <a asp-action="Index" asp-controller="Servico" role="button">
    <div class="alert alert-secondary d-flex justify-content-between align-items-center itens-agendar desativado" role="alert">
        <div>
            <i class="bi bi-scissors"></i>
            Selecionar Serviço
        </div>
        <i class="bi bi-chevron-right"></i>
    </div>
    </a>

    <!-- data e hora  -->
    <a asp-action="Index" asp-controller="Dia" role="button">
    <div class="alert alert-secondary d-flex justify-content-between align-items-center itens-agendar desativado" role="alert">
        <div>
            <i class="bi bi-calendar4"></i>
            Selecionar data e hora
        </div>
        <i class="bi bi-chevron-right"></i>

    </div>
    </a>

    <div class="d-grid gap-2">
        <a role="button" class="btn btn-primary agendar-btn" style="background-color: #6df1f3; color: black;">
            <i class="bi bi-plus-lg"></i>
            Agendar
        </a>
    </div>

</div>
