html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0c0c0c;
    margin-bottom: 60px;
    overflow-x: hidden;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .hero-section::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url('/images/fundo.webp') center center / cover no-repeat;
        transform: scale(1.1);
        z-index: 0;

    }

    .hero-section::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #0c0c0c 0%, rgba(12,12,12,0) 100%);
        z-index: 1;

    }

    .hero-section .container,
    .hero-section nav {
        position: relative;
        z-index: 2;
    }


.brand-logo {
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: #e6d3b3 !important;
}

.nav-link {
    color: #f5f5f5 !important;
    margin-left: 25px;
    transition: 0.3s;
}

    .nav-link:hover {
        color: #e6d3b3 !important;
    }


.hero-title {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    letter-spacing: 4px;
    color: #e6d3b3;
}

.hero-subtitle {
    font-size: 1.3rem;
    color: #ccc;
}


.btn-custom {
    border: 2px solid #e6d3b3;
    color: #e6d3b3;
    background: transparent;
    font-weight: 500;
    transition: 0.3s;
}

    .btn-custom:hover {
        background: #e6d3b3;
        color: #111;
    }


.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.3s;
}

    .whatsapp-float:hover {
        transform: scale(1.1);
        color: #fff;
    }

.itens-agendar {
    color: white;
    background-color: #1C1C1C;
    border: none;
    border-radius: 12px;
}

.itens-agendar  i {
    color: #6df1f3;
}

.desativado, .desativado i {
    color: #828282;
}

.agendar-btn, .agendar-btn i {
    color: #9C9C9C !important;
    background-color: #4F4F4F !important;
    border-radius: 11px;
    border: none;
}

.opcoes a {
    text-decoration:none;
}